@charset "UTF-8";

@font-face {
  font-family: 'takumis';
  src: url('../font/TAKUMISFONT_L.ttf');
}
@font-face {
  font-family: 'takumis_b';
  src: url('../font/TAKUMISFONT_B.ttf');
}
$background-grey:#f5f5f5;
$text-color:#565a5c;
$text-note:#969a9c;
$paper-note:#60392d;
$title-bar:#edefed;
$border-color:#dce0e0;
$color-tb-sub:#82888a;
$kokokara-logo:#131626;
$btn-color:#ff5a5f;
$btn-border-color:#ff5a5f;
$btn-bottom-color:#e00007;

$tegaki-border:3em .7em 2em .7em/.7em 2em .7em 3em;

$smartp: "only screen and (max-width:768px)";
$smaller: "only screen and (min-width:769px) and (max-width:992px)";
$middle: "only screen and (min-width:993px) and (max-width:1200px)";
$large:  "only screen and (min-width:1201px)";

$smartp-more: "only screen and (min-width:768px)";
$smaller-more: "only screen and (min-width:992px)";
$middle-more: "only screen and (min-width:1200px)";

$ori:100%;
$sub:30px;

body {
    font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic","MS Gothic","ＭＳ ゴシック","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    line-height: 1.43;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale // Firefox
}
a{
	text-decoration:none;
}
header{
	z-index:1000;
}
hr{
	margin-top: 22px;
    margin-bottom: 22px;
    border: 0;
    border-top: 1px solid #dce0e0;
}
.popover{
	width:150px;
	text-align:center;
	box-shadow:none;
	padding:5px;
}
.nopadding {
    padding: 0 !important;
   	margin: 0 !important;
}
.nopadding-vw{
	padding: 0 !important;
   	margin: 0 !important;
   	width:100vw;
}
.sp-nopadding{
	@media #{$smartp}{
		padding:0;
		margin:0;
	}
}
.lg-nopadding{
	@media #{$large}{
		width:100vw;
		padding:0;
		margin:0;
	}
}
.header-home{
	position:absolute;
	width:100vw;
}
.header-search-icon{
	background:none;
	border:none;
	font-size:24px;
	color:#ccc;
	padding:none;
}
.header-search-input{
	border-radius:none;
	border:none;
	box-shadow:none;
	height:36px;
	width:200px;
}
.header-login{
	float:right;
}
.nopadding {
    padding: 0 !important;
   	margin: 0 !important;
}
.subtext{
	font-size:16px;
}
.btn-on-img{
	border-radius:2px;
	opacity:0.6;
	&:hover{
		background:#000000;
		opacity:0.6;
	}
}
.sample-font{
	text-align:center;
	color:$border-color;
	i{
		font-size:34px;
	}
}
.lined-paper {
  height: auto;
    position: relative;
    background-color: #ffffe7;
    background-image:
        linear-gradient(90deg, transparent 29px, #fcc 29px, #fcc 31px, transparent 31px),
        linear-gradient(90deg, transparent 49px, #fcc 49px, #fcc 51px, transparent 51px),
        linear-gradient(rgba(153,204,255,.3) .1em, transparent .1em);
    background-size: 100% 1.5em;
    h1{
      line-height: 1.4em;
      padding-top:22px;
      padding-left:40px;
      font-family:"takumis_b";
      font-size:18px;
      margin-top:20px;
    }
    p{
      font-family:"takumis";
      line-height: 1.4em;
      margin: 0 0 1.5em;
      padding-top:10px;
      padding-left:40px;
      padding-bottom:9px;
      font-size: 15px;
    }
}
.lined-paper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background-color: #ffffe7;
    background-image:
        linear-gradient(90deg, transparent 29px, #fcc 29px, #fcc 31px, transparent 31px),
        linear-gradient(90deg, transparent 49px, #fcc 49px, #fcc 51px, transparent 51px);
}
.dogear h1{
	position: relative;
	padding: 1em 4em 1em 1em;
	-webkit-background: linear-gradient(-155deg, rgba(0, 0, 0, 0) 1.5em, #f6f6f6 0%);
	background: linear-gradient(-155deg, rgba(0, 0, 0, 0) 1.5em, #f6f6f6 0%);
	border-radius: 6px;
}
.dogear h1::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 1.65507em;
  height: 3.5493em;
  background: -webkit-linear-gradient(to left bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .2));
  background: linear-gradient(to left bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .2));
  border-bottom-left-radius: 6px;
  box-shadow: -.2em .2em .3em -.1em rgba(0, 0, 0, .15);
  -webkit-transform: translateY(-1.89424em) rotate(-40deg);
  transform: translateY(-1.89424em) rotate(-40deg);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}
.paper-bg{
  background-size:100% 100%;
  background-image:url('../img/paper-bg3.png');
  background-repeat:no-repeat;
}
footer{
	background:#322f2f;
	height:400px;
	color:#ffffff;
	li{
		list-style:none;
		padding-bottom:2px;
		padding-top:2px;
	}
	a{
		text-decoration:none;
		color:#ffffff;
		&:hover{
			text-decoration:none;
			color:#e0e0e0;
		}
	}
	@media #{$smartp}{
		.col-sm-4{
			margin:0 auto;
		}
	}
}
