@charset "UTF-8";
@import "common.scss";

#event-lists{
	background:#f3f3f3;
	border:1px solid $border-color;
	padding-top:40px;
}
.lists-search-area{
	background:#ffffff;
	height:300px;
}
.list-main{
	background:#f3f3f3;
}
.list-box{
	height:350px;
	margin-bottom:20px;
	h3{
		font-size:16px;
		margin-top:15px;
	}
	p{
		font-size:12px;
	}
	a{
		display:block;
		position:absolute;
		width: -webkit-calc(#{$ori} - #{$sub});
		width: -moz-calc(#{$ori} - #{$sub});
		width: calc(#{$ori} - #{$sub});
		height: 350px;
		opacity:0;
		background:#000000;
	}
	.popover{
		width:200px;
	}
	@media #{$smartp}{
		padding:0;
	}

}
.list-box-img{
	background-size:cover;
	height:220px;
}
.list-box-circle{
	z-index:9;
	position:absolute;
	top:-30px;
	left:8px;
	height:70px;
	width:70px;
	background:#dce0e0;
	border-radius:35px;
	border:2px solid #ffffff;
	background-position:center;
	background-repeat:no-repeat;
	-moz-background-size:cover;
	background-size:cover;
	@media #{$smartp}{
		position:relative;
	}
}

//sidebar
.evlist-sidebar{
	height:auto;
	background:#ffffff;
	border: 1px solid $border-color;
	@media #{$smaller}{
		padding:0;
		border:none;
		border-right:1px solid $border-color;
	}
}
.sb-form{
	margin:10px 0;
	padding-left:10px !important;
	padding-right:10px !important;
	.form-control{
		border-radius:2px;
		height:38px;
		box-shadow:none;
		-webkit-box-shadow:none;
	}
	p{
		font-size:12px;
		color:$text-note;
		margin-bottom:2px;
		margin-left:2px;

	}
}
.sb-form-ico{
	text-align:center;
	a{
		color:#f3f3f3;
		font-size:50px;
		&:hover{
			color:$text-note;
		}
	}
}
.sb-form-motto{
	a{
		text-decoration:none;
		font-size:12px;
		color:$btn-color;
		&:hover{
			text-decoration:none;
			color:$btn-bottom-color;
		}
	}
}
.sidebar-title{
	height:30px;
	border-bottom:1px solid $border-color;
	background:$title-bar;
	padding:5px 0 0 10px;
	::-webkit-input-placeholder{font-size:12px;}
	::-moz-placeholder{font-size:12px;} /* firefox 19+ */
	:-ms-input-placeholder{font-size:12px;} /* ie */
	input:-moz-placeholder{font-size:12px;}
	i{
		color:$btn-color;
	}
}
