@charset "UTF-8";
@import "common.scss";

.btn-block a{
	text-decoration:none !important;
	color:#ffffff;
	&:hover{
		text-decoration:none !important;
	}
}
.btn-review{
	background:#e0e0e0 !important;
	border:none !important;
	&:hover{
		background:#FF8B8F !important;
	}
}
.event-img{
	background:$border-color;
	background-position:center;
	background-repeat:no-repeat;
	-moz-background-size:cover;
	background-size:cover;
	@media #{$smartp}{
		height:300px;
	}
	@media #{$smaller}{
		height:350px;
	}
	@media #{$middle}{
		height:400px;
	}
	@media #{$large}{
		height:500px
	}
}
.ev-sm-title{
	width:100%;
	h1{
		font-size:24px;
		margin:0;
		margin-bottom:5px;
	}
	@media #{$smartp}{
		h1{
			font-size:20px;
			font-weight:lighter;
			margin-top:20px;
			margin-bottom:20px;
			text-align:center;
		}
	}
}
.ev-sm-icons{
	text-align:center;
	.icon-block{

		margin:0 auto;
		margin-top:10px;
		margin-bottom:10px;
	}
}
.event-sm-suppier-thumb{
	overflow:hidden;
	height:100px;
	width:100px;
	background:#dce0e0;
	border-radius:50px;
	margin:0 auto;
	background-position:center;
	background-repeat:no-repeat;
	-moz-background-size:cover;
	background-size:cover;
}
.ev-sm-lower{
	height:auto;
	width:100%;
	border:solid 1px $border-color;
	padding:0 !important;
	margin:20px auto;
	.col-label{
		margin:0;
		height:45px;
		width:100%;
		background:#555555;
	}
	@media #{$smartp}{
		margin-bottom:0;
		border-bottom:0;
	}
}
.ev-sm-lower2{
	height:auto;
	width:100%;
	margin:0 auto;
	padding-bottom:40px;
}
.person-in-charge{
	margin:0 auto;
	margin-top:20px;
	margin-bottom:5px;
	z-index:9;
	height:70px;
	width:70px;
	background:#dce0e0;
	border-radius:35px;
	border:1px solid #f3f3f3;
	background-position:center;
	background-repeat:no-repeat;
	-moz-background-size:cover;
	background-size:cover;
	@media #{$smartp}{
		position:relative;
	}
	@media #{$large}{
		margin-left:40px;
	}
}
.gmap-location{
	@media #{$smartp}{
		height:200px;
	}
	@media #{$smaller}{
		height:300px;
	}
	@media #{$middle}{
		height:400px;
	}
	@media #{$large}{
		height:500px
	}
}
.ev-sm-lg-side{
	background:#ffffff;
	position:absolute;
	border:solid 1px $border-color;
	margin-top:30px;
}
.ev-details{
	width:100vw;
	background: $background-grey;
	height:auto;
	border-top:solid 1px $border-color;
	border-bottom:solid 1px $border-color;
	padding:20px;
	p{
		color:$text-color;
	}
	h3{
		font-size:18px;
		font-weight:bold;
		margin-top:60px;
		margin-bottom:20px;
		margin-left:-15px;
		color:$text-color;
		@media #{$smartp}{
			margin-top:0;
			margin-bottom:10px;
			margin-left:0;
		}
	}
	@media #{$smartp}{
		width:100%;
		padding:20px;
		.container{
			padding:20px;
		}
	}
}
.ev-detail-table{

	.table-subtitle{
		font-size:14px;
		color:$color-tb-sub;
	}
	.table-text{
		font-size:14px;
		margin-bottom:5px;
	}
	.left{
		padding-left:0;
		@media #{$smartp}{
			padding-left:15px;
		}
	}

}
.ev-detail-text{
	a{
		color:$btn-color;
		padding-top:10px;
		font-weight:bold;
		&:hover{
			text-decoration:none;
			color:$btn-border-color;
		}
		@media #{$smartp}{
			text-align:center;
		}
	}
}

//album
.ev-album{
	padding-top:20px;
	padding-bottom:20px;
}
.ev-album-pic-top{
	padding:5px;
	height:280px;
}
.ev-album-pic-bottom{
	padding:5px;
	height:200px;
}
.ev-album-pic-control{
	width:100%;
	height:100%;
	background-size:cover;
	background-position:center;
}


.ev-sm-review{
	height:auto;
	margin:0 auto;
	padding-bottom:40px;
	@media #{$middle}{
		padding-left:80px;
		padding-right:80px;
	}
}

.arrow_answer,
.arrow_question {
    position: relative;
    background: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    font-size: 14px;
		margin-top:20px;
		padding: 3%;
		.fa-check-square-o{
			color:#ff5a5f;
		}
		a{
			text-align:center;
			color:$btn-color;
			padding-top:10px;
			font-weight:bold;
			&:hover{
				text-decoration:none;
				color:$btn-border-color;
			}
		}
}
.arrow_question {

}
.arrow_answer:after,
.arrow_answer:before,
.arrow_question:after,
.arrow_question:before {
    top: 25px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

}
.arrow_question:after,
.arrow_question:before {
    right: 100%;
}
.arrow_answer:after,
.arrow_answer:before{
     left: 100%;
}
.arrow_answer:after,
.arrow_question:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 8px;
    margin-top: -8px;
}
.arrow_answer:after{
    border-left-color: #fff;
}
.arrow_question:after{
    border-right-color: #fff;

}
.arrow_answer:before,
.arrow_question:before {
    border-color: rgba(200, 200, 200, 0);
    border-width: 9px;
    margin-top: -9px;
}
.arrow_answer:before{
    border-left-color: #c8c8c8;
}
.arrow_question:before {
    border-right-color: #c8c8c8;
}
.answer_image{
     float: right;
     width:15%;
}
.question_Box{
     width: 100%;
}

.icon-valued{
	font-size:22px !important;
}


//review-page
.review-title{
	@media #{$smartp}{
		padding-top:80px;
	}
	@media #{$smaller}{
		padding-top:120px;
		&div{
			padding:30px;
		}
	}
	@media #{$middle}{
		padding-top:150px;
		&div{
			padding:30px;
		}
	}
	@media #{$large}{
		padding-top:200px;
		&div{
			padding:30px;
		}
	}
}
.btn-review p{
	color:#ffffff !important;
	padding-top:10px;
}
